@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-light-color: #f9f4ec;
  --main-dark-color: #2a2a2a;

  --brick-brown-color: #b0695c;
  --light-brown-color: #d7c7ba;
  --dark-brown-color: #6b6464;
  --skin-color: #e7c1a8;
  --orange-color: #e48e55;

  --light-gray-color: #eaeaea;
  --dark-gray-color: #a8a09c;
  --pink-color: #fce0da;
  --pink-color-dark: #ffbeaf;

  --text-light: var(--main-dark-color);

  --text-dark: var(--light-gray-color);

  --theme-toggle-width: 2.5rem;
  --theme-toggle-height: 1.3rem;
  --theme-toggle-side-offset: 0.2rem;
  --theme-toggle-circle-width: 0;
  --theme-toggle-circle-dimensions: calc(var(--theme-toggle-height) - 0.3rem);
}

:root {
  --color-background: var(--light-brown-color);

  --color-foreground: var(--main-light-color);

  --color-text: var(--text-light);

  --corner-bottom-color: var(--skin-color);
  --corner-top-color: var(--pink-color-dark);
  --corner-opacity: 70%;
}

.darkmode {
  --color-background: var(--dark-brown-color);

  --color-foreground: var(--main-dark-color);

  --color-heading: var(--text-dark);

  --color-text: var(--text-dark);

  --corner-top-color: var(--pink-color);
  --corner-bottom-color: var(--orange-color);
  --corner-opacity: 40%;
}
